﻿<%@ Master Language="VB" CodeFile="MasterPage.master.vb" Inherits="MasterPage" %>

<%@ Register Src="~/UserControl/LoginControl.ascx" TagPrefix="UC1" TagName="Login" %>
<%@ Register Src="~/UserControl/IssueTrack.ascx" TagName="Issue" TagPrefix="ucissue" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <%--<link rel="stylesheet" type="text/css" href="<%= ResolveUrl("stylesheet/styles.css") %>" />--%>
   <%-- <link href="<%= ResolveUrl("stylesheet/style.css") %>" rel="stylesheet" type="text/css" />--%>
    <%--<link href="<%= ResolveUrl("css/astyle.css") %>" rel="stylesheet" type="text/css" />--%>
    <%--<link href="<%= ResolveUrl("css/style.css")%>" rel="stylesheet" type="text/css" />--%>
    <%-- <link href="<%= ResolveUrl("css/bootstrap.min.css")%>" rel="stylesheet" type="text/css" />--%>
  <%--  <link href="<%= ResolveUrl("css/itz.css") %>" rel="stylesheet" type="text/css" />
      <link href="<%= ResolveUrl("css/app.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/foundation.css")%>" rel="stylesheet" type="text/css" />--%>
    <link rel="SHORTCUT ICON" type="image/x-icon" href="http://flywidus.co/favicon.ico" />
    <link rel="SHORTCUT ICON" type="image/ico" href="http://flywidus.co/favicon.ico" />
    <link rel="SHORTCUT ICON" href="http://flywidus.co/addressbarlogo.jpg" />

    <script src="JS/jquery-1.4.1.js" type="text/javascript"></script>

    <%--<script type="text/javascript">
        $(document).ready(function() {
            $("#irctcclick").click(function() {
                $(".agrlw").toggleClass('agrlw1');
            });

            $("#clsppup").click(function() {
                $("#ppup").fadeOut();
            });
            //$("#ppup").delay(4000).fadeOut();

            // myTimer = setTimeout("showNext()", 3000);
            //  showNext(); //loads first image
            $('#thumbs li').bind('click', function(e) {
                var count = $(this).attr('rel');
                showImage(parseInt(count) - 1);
            });
            $("#TT_Frame").hide();
            $("#msg").delay(5000).slideDown(500);
            $(".close2").click(function() { $("#msg").slideUp(500); });
        });
    </script>--%>

    <style type="text/css">
        .log-buttion {
            color: #fff;
            font-size: 24px;
            text-decoration: none;
            margin-left: 560px;
            cursor: pointer;
        }

        .topbutton {
            float: right;
            margin-right: 20px;
            padding-top: 10px;
            font-size: 10px;
        }

        #toPopup {
            font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
            background: none repeat scroll 0 0 #FFFFFF;
            border: 10px solid #ccc;
            border-radius: 3px 3px 3px 3px;
            color: #333333;
            display: none;
            font-size: 14px;
            left: 65%;
            margin-left: -402px;
            position: fixed;
            top: 35%;
            width: 350px;
            height: 150px;
            z-index: 2;
        }

        .topbutton1 {
            color: #fff;
            text-decoration: none;
            padding: 0px 10px 0px 10px;
        }

        .toPopup {
            background: url(images/fade.png);
            display: none;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
        }

        #toPopup1 {
            font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
            background: none repeat scroll 0 0 #FFFFFF;
            border: 10px solid #ccc;
            border-radius: 3px 3px 3px 3px;
            color: #333333;
            display: none;
            font-size: 14px;
            left: 65%;
            margin-left: -402px;
            position: fixed;
            top: 35%;
            width: 350px;
            height: 150px;
            z-index: 2;
        }

        .toPopup1 {
            background: url(images/fade.png);
            display: none;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
        }
    </style>

    <%--<script language="JavaScript" type="text/javascript">
        $(document).ready(function() {
            $(".totoPopup").click(function() {
                $(".toPopup").fadeIn();
            });
            $("#CANCEL").click(function() {
                $(".toPopup").fadeOut();
            });
        });

    </script>--%>
</head>
<body>
    <div class="header">
        
        
    </div>
        <form id="form1" runat="server">


            <%--<div class="bodypage1">
               
               
               <div class="bgblue w100">--%>
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">

                        </asp:ContentPlaceHolder>
                       <%-- </div>
                    --%>
                    <!-- end of content -->
                 <%--  <div class="clear1"></div>
                
            </div>--%>

        </form>
</body>
</html>
