﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterAfterLogin.master" AutoEventWireup="true" CodeFile="ChangeType.aspx.cs" Inherits="SprReports_Accounts_ChangeType" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <link type="text/css" href="<%=ResolveUrl("~/Styles/jquery-ui-1.8.8.custom.css") %>"
        rel="stylesheet" />
       <style type="text/css">
        .page-wrapperss {
            background-color: #fff;
            margin-left: 15px;
        }
    </style>

    <div style="background-color:white">
    

                          <div class="col-md-4">
                                <div class="form-group" id="tr_AgentType" runat="server">
                                    <label for="exampleInputPassword1" id="tr_GroupType" runat="server">Agent Type :</label>
                                    <asp:DropDownList ID="DropDownListType" runat="server" CssClass="form-control">
                                        <asp:ListItem Text="Select" Value="Select" Selected="True"></asp:ListItem>
                                    </asp:DropDownList>
                                </div>
                            </div>
    <br />

        <div style="clear:both"></div>
<asp:FileUpload ID="FileUpload1" runat="server" style="margin-left:15px"  />
        <br />
<asp:Button ID="btnUpload" runat="server" Text="Upload" OnClick="btnUpload_Click" style="margin-left:15px" />

<br />
<div style="color:red;font:bold; margin-left:10px">Note:- Put All UserId In Excel Sheet1(Format .xls or .xlsx) In First Column And No Need To Create HeaderId</div>
<br/>

        <div id="msg" runat="server" style="width:900px;display:none">

        </div>

</div>
</asp:Content>

