﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PageAllow1.ascx.cs" Inherits="PageAllow1" %>
<asp:Repeater ID="Repeater2" runat="server">

     <ItemTemplate>
            <a href='<%# ResolveUrl( Eval("Page_url").ToString()) %>'><%# Eval("Page_name")%></a><br />
      </ItemTemplate>     
           
            
</asp:Repeater>
